/* CSS Document */

body {
    background-color: white;
}

.backButton {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}


.box1{
  background-color: #aaa;
    position: absolute;
    top: 35%;
    height: 250px;
    width: 500px;
    border: 25px #aaa;
    padding: 25px;
    margin: 25px;
    float: left;
}

.box2{
  background-color: #aaa;
    position: absolute;
    right:0;
    top:35%;
    height: 250px;
    width: 500px;
    border: 25px #aaa;
    padding: 25px;
    margin: 25px;
    float: left;
}


.sendButton{
  position:absolute;
  left: 0;
  top: 25%;
  width: 60%;
  text-align: right;
}

.cancelButton{
  position:absolute;
  left: 0;
  top: 25%;
  width: 70%;
  text-align: right;
}

.sendTo{
  position:absolute;
  right: 50%;
  top: 25%;
  font-size: 18px;

}

.homeButton {
    position: absolute;
    top: 8px;
    right: 500px;
}

.plusSign {
    position: absolute;
    top: 4px;
    right: 400px;
}

.magGlass {
    position: absolute;
    top: 8px;
    right: 300px;
}

.notification {
    position: absolute;
    top: 8px;
    right: 200px;
}

.gear {
    position: absolute;
    top: 5px;
    right: 100px;
}

.questionMark {
    position: absolute;
    top: 5px;
    right: 10px;
}

.titleText {
  position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
  text-align: center;
  font-size: 22px;
}
